body {
  background: rgb(53, 54, 58);
  color: #fff;
  font-family: "Open Sans";
}

h1, h2, h3, h4, h5 {
  font-family: roboto;
}

.main {
  margin: 20px;
}
.card {
  color: #000;
  max-width: 200px;
}
.card img {
  max-width:80px;
  margin: 10px;
}